header
  .header
    h3 OCP Java SE8 Programmer Exam IZO-809
  nav.nav
    a.nav(href='/advancedclassdesign') Advanced Class Design
    a.nav(href='/designpatterns') Design Patterns and Principles 
    a.nav(href='/generics') Generics
    a.nav(href='/functionalprogramming') Functional Programming
    a.nav(href='/date') Date/Time 
    a.nav(href='/exceptions') Exceptions 
    a.nav(href='/concurrency') Concurrency 
    a.nav(href='/io') I/O 
    a.nav(href='/nio2') NIO.2 
    a.nav(href='/jdbc') JDBC
    a.nav(href='/') Random
    a.nav(href='/all') All 
    a.nav(href='/submit') Submit a quiz 


  

    
    

