nav.nav
  a.nav(href='/') Random
  a.nav(href='/date') Date/Time 
  a.nav(href='/generics') Generics
  a.nav(href='/jdbc') JDBC
  a.nav(href='/io') I/O 
  a.nav(href='/nio2') NIO.2 
  a.nav(href='/all') All 
  a.nav(href='/concurrency') Concurrency 
  a.nav(href='/exceptions') Exceptions 
  a.nav(href='/javaclassdesign') Advanced Class Design 
  a.nav(href='/advancedclassdesign') Design Patterns and Principles
  a.nav(href='/functionalprogramming') Functional Programming
  a.nav(href='/submit') Submit a quiz 


  

header.header
  .header
    img(src='/img/logotrans2.png' , alt='some image') 

