nav.nav
  a.nav(href='/') Random
  a.nav(href='/programming') Programming 
  a.nav(href='/general') General 
  a.nav(href='/all') All Jokes 
  a.nav(href='/knockknock') Knock-Knock 
  a.nav(href='/submit') Submit a joke 

header.header
  .header
    img(src='/img/logotrans.png' , alt='some image') 

