extends base

block content
  .container   
    #box.about
      h2 About JavaQuiz
      p JavaQuiz is built using Node.js, Express, MongoDB and Pug. It uses the Model View Controller framework. The model is built using Mongoose and data is stored in a MongoDB database. The API comprises of various functions to perfom POST, GET, UPDATE and DELETE requests. The frontend views are rendered using Pug template engine. Quiz can be submitted by the client and data is sent by Axios using Asynchronous JavaScript And XML (AJAX) requests to post data to the API. The app is hosted on herokuapp. 
      br
      p repo: https://github.shenoy/javaquiz
      