extends base

block content
  .container   
    #box.about
      h2 About Comedyshack
      p Comedy Shack is built using Node.js,    
      p Express, MongoDB and Pug. 
      p It uses the Model View Controller framework. 
      p The model is built using Mongoose and data 
      p is stored in a MongoDB database. The API
      p comprises of various functions to perfom POST,
      p GET, UPDATE and DELETE requests.  
      p The frontend views are rendered using Pug 
      p template engine. Jokes can be submitted by the
      p client and data is sent by Axios using 
      p Asynchronous JavaScript And XML (AJAX) 
      p requests to post data to the API. The app
      p is hosted on herokuapp. 
      br
      p repo: https://github.shenoy/comedyshack
      br
      p link: https://comedyshack.herokuapp.com
      