extends base

block content
  .container
    h1=`Total ${jokes.length} jokes` 
    each joke in jokes
      #box(data-aos="fade-left" data-aos-delay="300")
        p= joke.setup
        .clicker(tabindex='1') Click 
        .hiddendiv
          p= joke.punchline 