extends base

block content
  .container  
    h1 Random Questions 
    #box
      p= `ID: ${quiz.id}`
      p= quiz.question
      .clicker(tabindex='1') Answer
      .hiddendiv
        p= quiz.answer             
    a.next(href='/') Next Question