extends base

block content  
  .container
    div
      form   
        label(for='type') Topic
        input#type(type='text' name='type')
        label(for='question') Question
        input#question(type='text' name='question')
        label(for='answer') Answer
        input#answer(type='text' name='answer' )        
        input(type='submit' value='Submit')