extends base

block content
  .container
    h1=`Total ${quiz.length} questions` 
    each q in quiz
      #box
        p= `${(quiz.indexOf(q)+1)}. ${q.question}`
        .clicker(tabindex='1') Click
        .hiddendiv
          p= q.answer
        